<section class="container">
    <h1 class="page_titles">Public Recipes</h1>
<ul >
<% @recipe.each do |r| %>
<%= link_to r do %>
    <li class="public_list">
    <div class="list_content">
    <p class="recipe_name"><%= r.name %></p>
    <p class="user_name">By <%= r.user.name %></p>    
    </div>
     <div class="list_content">
    <p> <%= r.recipe_foods.count %> Ingredients</p>
    <p>Price: $<%= r.recipe_price %></p>
    </div>
    </li>
    <% end %>
<% end %>
</ul>

</section>
