<%= form_with(model: [@recipe, @recipe_food]) do |form| %>
  <% if recipe_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div>
    <%= form.label :food_id, 'Food', class: "form-label" %><br>
    <% foods_array = @foods.map { |f| [f.name, f.id] } %>
    <%= form.select(:food_id, options_for_select(foods_array))%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
